* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



.contact-section {
  display: flex;
  gap: 30px;
}

.contact-card {
  background: #12161d;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 40px 30px;
  text-align: center;
  border-radius: 10px;
  color: #ddd;
  transition: all 0.3s ease;
  
}

.contact-card h3 {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 15px;
}

.contact-card p {
  color: #b5b5b5;
  line-height: 1.6;
}

.icon {
  font-size: 40px;
  color: #d4af37;
  margin-bottom: 20px;
}

/* Highlighted middle card */
.contact-card.active {
  border: 1px solid #d4af37;
}
