/* Page base */
html, body {
  margin: 0;
  background: #000;
}

/* Navbar full black */
.navbar {
  height: 70px;
  background: #000;
  display: flex;
  align-items: center;
  z-index: 1000;
}

/* Inner layout */
.navbar-inner {
  width: 100%;
  display: flex;
  align-items: center;
}

/* Left / center / right */
.nav-left,
.nav-right {
  width: 200px; /* balances center */
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  height: 50px;
  margin-left: 20px;
}

/* Center nav */
.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Links */
.nav-link {
  color: #fff !important;
  padding: 8px 16px;
  border-radius: 6px;
}

.nav-link.active {
  background-color: #0d6efd;
}

.nav-item menu {
  list-style: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  min-width: 150px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.dropdown-content li {
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.hero {
  margin-top: 70px;
  height: calc(100vh - 70px);
  overflow: hidden;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about
    {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: peachpuff;
  width: 40%;
}
#foot{
    color: aliceblue;
}
.log{
  color: aliceblue;
}